#form2{
	margin-top:75px;
	margin-right:500px;
	margin-left:500px;
	background-color:#33ccff;
	border:doted;
	border-width:3px;
	height:300px;
	padding-left:50px;
	padding-top:50px;
}

#reset {
	float:left;
	background-color:#595959;
	color:white;
	border-radius:5px;
	cursor:pointer;
	position:relative;
	padding:9px;
	font-family:sans-serif;
	border:none;
	font-size:12px;
	width:100px;
	height:40px;
	margin-left:190px;
}

#reset:hover{
	background-color:black;
	
}

label{
	font-size:20px;
	float:left;
}

#form2{
	margin-left:50px;
	background-color:gray;
	padding:20px;
	padding-left:40px;
	margin-right:750px;
	height:700px;
}
.txt{
	padding:-50px;
}