#form1{
	margin-top:10px;
	margin-right:500px;
	margin-left:500px;
	background-color:gray;
	border:doted;
	border-width:3px;
	height:400px;
	padding-left:50px;
	padding-top:50px;
	margin-bottom: 70px;
}

#reset {
	float:left;
	background-color:#595959;
	color:white;
	border-radius:5px;
	cursor:pointer;
	position:relative;
	padding:9px;
	font-family:sans-serif;
	border:none;
	font-size:12px;
	width:100px;
	height:40px;
	margin-left:190px;
}

#reset:hover{
	background-color:black;
}

label{
	font-size:20px;
	float:left;
}